.home-main {
  position: relative;
  text-align: center;
  // background: url('../img/IMG_8234.jpg') center center no-repeat transparent;
  // background-size: cover;

  @media(min-width: @tablet-width) {
    height: 100vh;
    min-height: 600px;
  }
}

.main {
  max-width: @tablet-width;
  padding: 0 @gutter;
  margin: 0 auto;

  @media(min-width: @tablet-width) {
    margin-top: 130px;
  }
}

.bottom {
  @media(min-width: @tablet-width) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: @gutter;
  }
}

.subtitle {
  font-weight: 300;
  color: @dovegrey;
}

.img-row {
  @media(min-width: @tablet-width) {
    position: absolute;
    margin-top: -@half-gutter;
    top: 130px;
    bottom: 160px;
    left: @gutter;
    right: @gutter;
  }
}

.hero-img {
  max-width: 100%;
  max-height: 100%;
  margin-top: @gutter;

  @media(min-width: @tablet-width) {
    margin-top: 0;
    border: 3px double lighten(@cloudy, 10%);
    padding: @half-gutter;
  }
}

.cta {
  color: @link-color;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  &:focus,
  &:hover {
    color: @link-color-hover;
    text-decoration: none;
  }
  &:active {
    color: @link-color-active;
  }
}
