.header {
  text-align: center;

  // @media(min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  // }
}

.header-content {
  display: inline-block;
  background: white;
  margin: 0 auto;
  text-align: center;
  padding: @gutter @gutter * 2;
  margin-top: @gutter;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  >li {
    display: inline-block;
    list-style: none;
    margin-left: @gutter;
    &:first-child {
      margin-left: 0;
    }
    >a {
      display: inline-block;
      color: @link-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: @link-color-hover;
        text-decoration: none;
      }
      &:active {
        color: @link-color-active;
      }
      &.active {
        color: @link-color-active;
      }
    }
  }
}

.title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 300;
  a {
    color: @schooner;
    text-decoration: none;

    span {
      &::before {
        display: inline-block;
        content: '&'
      }
    }

    &:hover,
    &:focus {
      color: @link-color-hover;
      span {
        &::before {
          content: '\2665'
        }
      }
    }
    &:active {
      color: @link-color-active;
    }
  }
}
