
@navy:                  #0a3b4f;
@navy-dark:             #102f40;
@black:                 #222222;
@alabaster:             #F9F9F9;
@silver:                #c7c7c7;
@silver-dark:           #9b9b9b;
@slate:                 #7f959f;
@turquoise:             #55c4c7;
@green:                 #4bbc7b;
@red:                   #dd524a;
@white:                 #ffffff;

@link-color: @turquoise;
@link-color-hover: darken(@turquoise, 10%);
@link-color-active: darken(@turquoise, 15%);

@border-radius: 2px;

@gutter: 20px;
@half-gutter: @gutter / 2;
@quarter-gutter: @gutter / 4;

// breakpoints
@tablet-width: 768px;
@max-width: 1180px;
