
@cloudy: #A6B8D0;

@link-color: darken(@cloudy, 10%);
@link-color-hover: darken(@cloudy, 20%);
@link-color-active: darken(@cloudy, 25%);

@border-radius: 2px;

@gutter: 20px;
@half-gutter: @gutter / 2;
@quarter-gutter: @gutter / 4;

// breakpoints
@tablet-width: 768px;
@max-width: 1180px;
