
@cloudy: #A6B8D0;
@beige: #D5C6B1;
@schooner: #89837B;
@kabul: #544c3e;
@tundora: #444444;
@mineshaft: #333333;
// @schooner: #666666;

@link-color: darken(@cloudy, 10%);
@link-color-hover: darken(@cloudy, 20%);
@link-color-active: darken(@cloudy, 25%);

@border-radius: 2px;

@gutter: 20px;
@half-gutter: @gutter / 2;
@quarter-gutter: @gutter / 4;

// breakpoints
@tablet-width: 768px;
@max-width: 1180px;

@vanity-font: 'Playfair Display', cursive;
