extends base.pug
  
block meta
  meta(name="description" content="Where to stay during Erica and Justins Wedding")

block content
  -
    var img = require('./img/marriot.jpg')
  main(role="main").main
    h2 Where to Stay
    p For those coming from out-of-town we have reserved blocks at a few nearby hotels.
    ul.accomodations-list
      li
        section
          .accomodation-image-wrap
            img(src=img)
          h1 Courtyard by Marriott Miami Dadeland
          ul.accomodation-info-list
            li
              a(href="https://www.google.com/maps/place/Courtyard+by+Marriott+Miami+Dadeland/@25.6858524,-80.3143186,17z/data=!4m12!1m6!3m5!1s0x88d9c7a5cb1355eb:0x6fc10ab5431c3490!2sCourtyard+by+Marriott+Miami+Dadeland!8m2!3d25.686013!4d-80.314473!3m4!1s0x88d9c7a5cb1355eb:0x6fc10ab5431c3490!8m2!3d25.686013!4d-80.314473?hl=en-US" target="_blank")
                i.material-icons location_on
                span  9075 S Dadeland Blvd, Miami, FL 33156
            li
              a(href="tel:3056701220")
                i.material-icons phone
                span  (305) 670-1220
            li
              span
                i.material-icons attach_money
                span 232/night
