extends base.pug
  
block meta
  meta(name="description" content="Erica and Justin are getting married.")

block content
  -
    var img = require('./img/IMG_8234.jpg')
  main(role="main").home-main
    .img-row
      img(src=img alt="Eric and Justin Worsdale").hero-img
    .bottom
      h2.subtitle Save the Date 03/31/2018
        br
        span(style="font-size:0.75em;font-weight:400") Miami, FL
