extends base.pug

block meta
  meta(name="google-site-verification" content="95WleY7WdO4UX3RIBI2K52cwAr9FeTPVttdrtrDUSrk")
  meta(name="description" content="Propellr empowers firms to raise, structure and service co-investment capital for middle market transactions. The platform provides eligible investors with discrete, select alternative asset investment opportunities.")
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Website",
      "publisher": {
        "@type": "Organization",
        "name": "Propellr",
        "logo": "https://storage.googleapis.com/propellr-assets/img/logo.png"
      },
      "url": "https://www.propellr.com/",
      "image": {
        "@type": "ImageObject",
        "url": "https://storage.googleapis.com/propellr-assets/img/logo.png",
        "width": 2000,
        "height": 500
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.propellr.com/"
      },
      "description": "Propellr empowers firms to raise, structure and service co-investment capital for middle market transactions. The platform provides eligible investors with discrete, select alternative asset investment opportunities."
    }

block content
  include header.pug
  main.main(role="main")
    section.container.page-section#section-services
      header.page-section-header
        h1
          sub.section-title-sub 01
          .vanity-font.half-gutter-top Services
        p Emerging middle market issuers have access to unique investment opportunities but lack the capital markets expertise and the infrastructure necessary to efficiently grow their business. Propellr solves these challenges by providing merchant banking services and technology solutions.
        p Sophisticated investors seeking alternative investments are often limited to traditionally structured funds. Propellr creates a marketplace for investors to access exclusive alternative investment opportunities in various asset classes, including real estate and specialty finance.
      -
        var services = [
          {
            title: 'Broker-Dealer',
            p: 'The complex regulatory landscape makes it challenging for middle market issuers to sell private securities while growing an investor base. Propellr\'s broker-dealer and vertically-integrated offering process reduces the time and cost to issue while strictly adhering to regulatory requirements.'
          },
          {
            title: 'Structuring',
            p: 'Every transaction is unique and requires careful evaluation of a range of salient factors to maximize value.  Propellr optimizes the capital structure best suited for each issuer\'s business plan.'
          },
          {
            title: 'Raising Capital',
            p: 'Middle market issuers struggle to allocate time between sourcing, originating, and raising capital. Propellr\'s network of banks and investors provides issuers with debt and equity financing solutions throughout the capital stack.'
          },
          {
            title: 'Servicing',
            p: 'Traditional investor relations is a labor-intensive process, with high cost for issuers. Propellr\'s technology delivers a transparent and high-touch investor experience that scales alongside an issuer\'s business and virtually eliminates the need for a costly back office.'
          }
        ]
      .section-columned-items
        each service in services
          .section-columned-item
            .section-columned-item-title-col
              h4.section-columned-item-title= service.title
            .section-columned-item-content-col
              p= service.p
    section.container.page-section#section-approach-to-investors
      header.page-section-header
        h1
          sub.section-title-sub 02
          .vanity-font.half-gutter-top Investors
        p Propellr provides eligible investors with access to private alternative investment opportunities.
      .section-bullets.section-bullets-2
        .section-bullet-row
          .section-bullet
            p Ensures an alignment of interests by requiring that issuers co-invest in each transaction
          .section-bullet
            p Uses industry relationships and market expertise to identify, vet, and select emerging issuers with niche expertise
        .section-bullet-row
          .section-bullet
            p Performs transaction-specific diligence to ensure each offering adheres to the issuer's core competence, regulatory guidelines and industry best practices
          .section-bullet
            p Provides investors full transparency through detailed statements, distributions, and investment updates
    section.container.page-section#section-approach-to-issuers
      header.page-section-header
        h1
          sub.section-title-sub 03
          .vanity-font.half-gutter-top Issuers
        p Propellr empowers issuers to focus on their core stengths: origination and business plan execution.
      .section-bullets.section-bullets-2
        .section-bullet-row
          .section-bullet
            p Provides issuers with optimized debt and equity financing options as well as structuring advisory
          .section-bullet
            p Performs compliance review of materials per regulatory guidelines
        .section-bullet-row
          .section-bullet
            p Executes technology-driven servicing including periodic statement generation and distributions
          .section-bullet
            p Fulfills investor onboarding responsibilities such as KYC/AML and suitability checks
    section.container.page-section#section-press
      header.page-section-header
        h1
          sub.section-title-sub 04
          .vanity-font.half-gutter-top Press
      .section-bullets.section-bullets-2.no-bullet
        .section-bullet-row
          .section-bullet
            h4.section-bullet-title Commercial Observer
            p The Next Next Big Thing In Real Estate Finance...Really
            a(href="https://commercialobserver.com/2016/07/the-next-next-big-thing-in-real-estate-financereally/" target="blank" rel="noopener noreferrer").pull-right Read the article
              i.icon-arrow-right
          .section-bullet
            h4.section-bullet-title The Street
            p Propellr, LLC Announces First Capital Raise of $1.6 Million, Broker-Dealer Registration
            a(href="https://www.thestreet.com/story/13572366/1/propellr-llc-announces-first-capital-raise-of-16-million-broker-dealer-registration.html" target="blank" rel="noopener noreferrer").pull-right Read the article
              i.icon-arrow-right
        .section-bullet-row
          .section-bullet
            h4.section-bullet-title Commercial Observer
            p What Happens When a Crowdfunded Deal Goes Bad?
            a(href="https://commercialobserver.com/2015/07/what-happens-when-a-crowdfunded-deal-goes-bad/" target="blank" rel="noopener noreferrer").pull-right Read the article
              i.icon-arrow-right
          .section-bullet
            h4.section-bullet-title Forbes
            p Waiting For A Watershed: Entrepreneurs Press SEC To Finalize Crowdfund Investing 'Reg A'
            a(href="http://www.forbes.com/sites/cherylsnappconner/2014/10/30/waiting-for-a-watershed-entrepreneurs-press-sec-to-finalize-crowdfund-investing-reg-a/" target="blank" rel="noopener noreferrer").pull-right Read the article
              i.icon-arrow-right
