extends base.pug
  
block meta
  meta(name="description" content="Erica and Justin are getting married.")

block content
  -
    var img = require('./img/IMG_0753.jpg')
  main(role="main").home-main
    //- .img-row
    //-   img(src=img alt="Eric and Justin Worsdale").hero-img
    .bottom
      .bottom-wrap
        //- img(src=require('./img/palm2_white.svg')).index-icon.center
        br
        h2.subtitle 03/31/2018
          br
          | Miami, FL
