extends base.pug
  
block meta
  meta(name="description" content="Erica and Justin are getting married.")

block content
  -
    var img = require('./img/IMG_8234.jpg')
  main(role="main").main
    h1.title Erica &amp; Justin
    .img-row
      img(src=img alt="Eric and Justin Worsdale").hero-img
    .bottom
      h2.subtitle Save the Date 03•31•2017
      a(href="http://rsvp.com").cta RSVP
