extends base.pug
  
block meta
  meta(name="description" content="Erica and Justin are getting married.")

block content
  -
    var img = require('./img/IMG_8234.jpg')
  h1 Erica and Justin
  img(src=img)
  h2 Save the Date 3/31/2017
