extends base.pug
  
block meta
  meta(name="description" content="Where to stay during Erica and Justins Wedding")

block content
  -
    var img = require('./img/IMG_8234.jpg')
  main(role="main").main
    h2 The house
