-
  var navItems = [
    {
      href: '/location',
      title: 'Location'
    },
    {
      href: '/accomidations',
      title: 'Accomidations'
    }
  ];
header.header
  h1.title Erica & Justin
  nav
    ul.header-nav-list
      each item in navItems
        li
          a(href=item.href)= item.title
