-
  var navItems = [
    {
      href: '/location',
      title: 'Location'
    },
    {
      href: '/accomodations',
      title: 'Accomodations'
    }
  ];
header.header
  h1.title.vanity-font
    a(href="/") Erica &amp; Justin
  nav
    ul.header-nav-list
      each item in navItems
        li
          a(href=item.href)= item.title
