-
  var title = htmlWebpackPlugin.options.title;
  var navItems = [
    {
      href: '/location',
      title: 'Location'
    },
    {
      href: '/accomodations',
      title: 'Accomodations'
    }
  ].map(function(item) {
    item.isSelected = title === item.title;
    return item;
  });
header.header
  .header-content
    h1.title.vanity-font
      a(href="/") Erica &amp; Justin
    nav
      ul.header-nav-list
        each item in navItems
          li
            a(href=item.href class={'active': item.isSelected})= item.title
